<section data-ng-controller="AvaliacaoController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="avaliacao.name"></h1>
		<p data-ng-bind="avaliacao.description"></p>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/avaliacao/{{avaliacao._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove(avaliacao);">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<div data-ng-show="success" class="text-success">
		<strong data-ng-bind="success"></strong>
	</div>
</section>