<section data-ng-controller="AvaliacaoController" data-ng-init="find()">
    <div class="page-header">
        <h1>Avaliações</h1>
    </div>
    <!-- this is the new search input field -->
    <div class="form-group">
        <input type="text" ng-model="search" typeahead="avaliacao as avaliacao.name for avaliacao in avaliacao | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="avaliacaoSearch($item)" placeholder="Procurar avaliação...">
    </div>
    <!-- end -->
    <div class="list-group">
        <a data-ng-repeat="avaliacao in avaliacao | limitTo: offset - avaliacao.length | limitTo: pageSize" data-ng-href="#!/avaliacao/avaliacaocreate/{{avaliacao._id}}" class="list-group-item">
            <h4 class="list-group-item-heading" data-ng-bind="avaliacao.name"></h4>
            <span data-ng-bind="avaliacao.description"></span>
            <span data-ng-bind="avaliacao._id" ng-click="remove(avaliacao_id);"></span>
            
        </a>
    </div>
    <!-- this is the paging control -->
    <pagination total-items="avaliacao.length" ng-model="currentPage" ng-change="pageChanged()" max-size="pageSize" ng-show="avaliacao.length > pageSize"></pagination>
    <!-- end -->
    <div class="alert alert-warning text-center" data-ng-hide="!avaliacao.$resolved || avaliacao.length">
        Nenhuma categoria encontrada, criar uma nova <a href="/#!/avaliacaocreate">nova avaliação</a>?
    </div>
</section>