<div ng-controller="AvaliacaoController" ng-cloak data-ng-init="find()">
	<form class="form-horizontal" data-ng-submit="create()" novalidate>
		<div layout="vertical" layout-md-column>
			<md-content>
				<section class="jumbotron">
					<h1>Avaliação 2016</h1>
				</section>

				<div layout="row" layout-align="center center" style="padding:5px" ng-cloak="" class="selectdemoOptionsWithAsyncSearch">
					<label style="padding: 8px;" for="name">Name:</label>
					<div class="">
						<input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required size="20">
					</div>
				</div>
				<!-- DIVISOES -->
				<div layout="row" layout-align="center center" style="padding:5px" ng-cloak="" class="selectdemoOptionsWithAsyncSearch">
					<p>Divisão:</p>&nbsp;&nbsp;&nbsp;
					<div layout="row" layout-align="center center">
						<md-select placeholder="Selecione as divisões" ng-model="divisao" md-on-open="findDivisao()" style="min-width: 200px;">
							<md-option ng-value="divisao" ng-repeat="divisao in divisoes">{{divisao.name}}</md-option>
						</md-select>
					</div>
				</div>
				<!-- COLABORADORES -->
				<div layout="row" layout-align="center center" style="padding:5px" ng-cloak="" class="selectdemoOptionsWithAsyncSearch">
					<p>Colaborador:</p>&nbsp;&nbsp;&nbsp;
					<div layout="row" layout-align="center center">
						<md-select placeholder="Selecione os colaboradores" ng-model="colaborador" md-on-open="findColaboradores()" style="min-width: 200px;">
							<md-option ng-value="colaborador" ng-repeat="colaborador in colaboradores | filter: divisao.name">{{colaborador.name}}</md-option>
						</md-select>
					</div>
				</div>
				<!-- ESPECIALIDADES -->
				<div style=" width: 30%; display: right; margin: 0 auto;">
					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm>
							<label>Especidalidades:</label>
							<input id="especialidade" name="especialidade" ng-model="especialidade" ng-value="colaborador.especialidade.name" readonly>
						</md-input-container>
					</div>
				</div>
				<!-- PAPEL -->
				<div layout="row" layout-align="center center" style="padding:5px" ng-cloak="" class="selectdemoOptionsWithAsyncSearch">
					<p>Papel:</p>&nbsp;&nbsp;&nbsp;
					<div layout="row" layout-align="center center">
						<md-select placeholder="Selecione os papeis" ng-model="papel" md-on-open="findPapeis()" style="min-width: 200px;">
							<md-option ng-value="papel" ng-repeat="papel in papeis" ng-click="InserePapelMdChips(papel.name, papel._id)">{{papel.name}}</md-option>
						</md-select>
					</div>
				</div>
				<!-- CHIPS COM OPÇÕES PARA DELEÇÃO -->
				<div style=" width: 92%; display: right; margin: 0 auto;" ng-if="papel">
					<md-content class="md-padding" layout="column">
						<h2 class="md-title">Papeis Selecionados:</h2>
						<md-chips ng-model="tagPapeis" ng-init="[]" name="listPapeis" ng-value="listPapeis" md-separator-keys="main.customKeys"></md-chips>
						<br/>
					</md-content>
					<div style=" width: 5%; display: left; margin: 0 auto;" ng-if="papel">
						<md-button type="submit" class="md-raised md-primary">SALVAR</md-button>
						<!--<input type="submit" class="btn btn-default">-->
					</div>
				</div>
				{{avaliacao}}
				<div class="techs" layout-align="center">
					<md-card ng-repeat="atributo in atributos" ng-init="parentIndex = $index">
						<md-card-content>
							<md-checkbox ng-model="checado" ng-value="atributo.checado" ng-checked="atributo.checado" aria-label="selecionar o atributo na avaliação">
							</md-checkbox>
							<h3 class="md-title" ng-init="AtributosVw.name=atributo.name">{{ atributo.name }}</h3>
						</md-card-content>

						<div class="md-action-buttons" style="display:center;">
							<div ng-repeat="DscAtributos in atributo.classificacao">
								<!--<div ng-repeat="(key,value) in DscAtributos" value="$index">-->
								<md-button ng-href="#">Abrangencia:</md-button><br>
								<!--<pre>{{value || 'null'}}</pre>-->
								<div class="btn-group">
									<!--<pre>{{radioModel2 || 'null'}}</pre>-->
									<label ng-repeat='option in atributo.classificacao[0].abrangencia' class="btn btn-primary" ng-model="$parent.radioModel2"
										btn-radio="'{{option}}'" uncheckable>{{option}}</label>
								</div>
								<br>
								<md-button ng-href="#">Complexidade:</md-button><br>
								<div class="btn-group">
									<!--<pre>{{radioModel3 || 'null'}}</pre>-->
									<label ng-repeat='option in atributo.classificacao[0].complexidade' class="btn btn-primary" ng-model="$parent.radioModel3"
										btn-radio="'{{option}}'" uncheckable ng-value="$parent.radioModel3">{{option}}</label>
								</div>
								<br>
								<md-button ng-href="#">Impacto:</md-button><br>
								<div class="btn-group">
									<!--<pre>{{radioModel4 || 'null'}}</pre>-->
									<label ng-repeat='option in atributo.classificacao[0].impacto' class="btn btn-primary" ng-model="$parent.radioModel4" btn-radio="'{{option}}'"
										uncheckable>{{option}}</label>
								</div>
								<!--</div>-->
							</div>
						</div>
				</div>
				</md-card>
		</div>
		</md-content>
</div>
</form>
</div>