<div ng-controller="AvaliacaoController" ng-cloak data-ng-init="find()">
	<form class="form-horizontal" data-ng-submit="create()" novalidate>

		<div layout="vertical" layout-md-column>
			<md-content>
				<section class="jumbotron">
					<h1>Avaliação 2016</h1>
				</section>
				<!-- DIVISOES -->
				<div layout="row" layout-align="center center" style="padding:5px" ng-cloak="" class="selectdemoOptionsWithAsyncSearch">
					<p>Divisão:</p>&nbsp;&nbsp;&nbsp;
					<div layout="row" layout-align="center center">
						<md-select placeholder="Selecione as divisões" ng-model="divisao" md-on-open="findDivisao()" style="min-width: 200px;">
							<md-option ng-value="divisao" ng-repeat="divisao in divisoes">{{divisao.name}}</md-option>
						</md-select>
					</div>
				</div>

				<!--<input type="text" data-ng-model="name" id="name" value="name" class="form-control" placeholder="name" required>
				<input type="text" data-ng-model="description" id="description" value="description" class="form-control" placeholder="description" required>-->


				<!-- COLABORADORES -->
				<div layout="row" layout-align="center center" style="padding:5px" ng-cloak="" class="selectdemoOptionsWithAsyncSearch">
					<p>Colaborador:</p>&nbsp;&nbsp;&nbsp;
					<div layout="row" layout-align="center center">
						<md-select placeholder="Selecione os colaboradores" ng-model="colaborador" md-on-open="findColaboradores()" style="min-width: 200px;">
							<md-option ng-value="colaborador" ng-repeat="colaborador in colaboradores | filter: divisao.name">{{colaborador.name}}</md-option>
						</md-select>
					</div>
				</div>

				<!--{{colaboradores}}-->
				<!-- ESPECIALIDADES -->
				<div style=" width: 30%; display: right; margin: 0 auto;">
					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm>
							<label>Especidalidades:</label>
							<input id="especialidade" name="especialidade" ng-model="especialidade" ng-value="colaborador.especialidade.name" readonly>
						</md-input-container>
					</div>
				</div>

				<!--<input type="text" data-ng-model="colaborador.especialidade.name" id="especialidade" value="" class="form-control" placeholder="" required>-->

				<!-- PAPEL -->
				<div layout="row" layout-align="center center" style="padding:5px" ng-cloak="" class="selectdemoOptionsWithAsyncSearch">
					<p>Papel:</p>&nbsp;&nbsp;&nbsp;
					<div layout="row" layout-align="center center">
						<md-select placeholder="Selecione os papeis" ng-model="papel" md-on-open="findPapeis()" style="min-width: 200px;">
							<md-option ng-value="papel" ng-repeat="papel in papeis" ng-click="InserePapelMdChips(papel.name, papel._id)">{{papel.name}}</md-option>
						</md-select>
					</div>
				</div>

				<!-- CHIPS COM OPÇÕES PARA DELEÇÃO -->
				<div style=" width: 92%; display: right; margin: 0 auto;" ng-if="papel">
					<md-content class="md-padding" layout="column">
						<h2 class="md-title">Papeis Selecionados:</h2>
						<md-chips ng-model="tagPapeis" ng-init="[]" name="listPapeis" ng-value="listPapeis" md-separator-keys="main.customKeys"></md-chips>
						<br/>
					</md-content>

					<div style=" width: 5%; display: left; margin: 0 auto;" ng-if="papel">
						<!-- <md-button class="md-raised">SALVAR</md-button> -->
						<md-button class="md-raised md-primary">SALVAR</md-button>
						<input type="submit" class="btn btn-default">
						<!-- <md-button ng-disabled="true" class="md-raised md-primary">SALVAR</md-button> -->
					</div>
				</div>

				<!-- CARDS COM TEXTO DOS ATRIBUTOS -->
				<div class="techs" layout-align="center">
					<md-card ng-repeat="atributo in atributos" ng-model="atributo">
						<md-card-content>
							<md-checkbox ng-model="AtributosVw.checado" ng-value="AtributosVw.checado" ng-checked="AtributosVw.checado" aria-label="selecionar o atributo na avaliação">
							</md-checkbox>
							<h3 class="md-title" ng-init="AtributosVw.name=atributo.name">{{ atributo.name }}</h3>
						</md-card-content>
						<div class="md-action-buttons" style="display:left;">
							<md-button ng-href="#">Abrangência:</md-button>
							<br/>
							<div ng-repeat="classificacao in atributo.classificacao">
								{{classificacao}}
								<md-radio-group ng-model="AtributosVw.classificacao" layout="row" layout-align="center center">
									<md-radio-button value="{{classificacao.abrangencia.moderado}}" class="md-primary" ng-click="showAlert($event, '{{classificacao.abrangencia.moderado}}')" alt="Teste">M</md-radio-button>
									<md-radio-button value="{{classificacao.abrangencia.significativa}}" class="md-primary" ng-click="showAlert($event, '{{classificacao.abrangencia.significativa}}')">
										S </md-radio-button>
									<md-radio-button value="{{classificacao.abrangencia.muito}}" class="md-primary" ng-click="showAlert($event, '{{classificacao.abrangencia.muito}}')">M</md-radio-button>
								</md-radio-group>
								<br>
								<md-button ng-href="#">Complexidade:</md-button>
								<md-radio-group ng-model="AtributosVw.classificacao" layout="row" layout-align="center center">
									<md-radio-button value="{{classificacao.complexidade.moderada}}" class="md-primary" ng-click="showAlert($event, '{{classificacao.complexidade.moderada}}')">M</md-radio-button>
									<md-radio-button value="{{classificacao.complexidade.alta}}" class="md-primary" ng-click="showAlert($event, '{{classificacao.complexidade.alta}}')"> A </md-radio-button>
									<md-radio-button value="{{classificacao.complexidade.altissima}}" class="md-primary" ng-click="showAlert($event, '{{classificacao.complexidade.altissima}}')">A</md-radio-button>
								</md-radio-group>
								<br/>
								<md-button ng-href="#">Impacto:</md-button>
								<md-radio-group ng-model="AtributosVw.classificacao" layout="row" layout-align="center center">
									<md-radio-button value="{{classificacao.impacto.relevancia}}" class="md-primary" ng-click="showAlert($event, '{{classificacao.impacto.relevancia}}')">R</md-radio-button>
									<md-radio-button value="{{classificacao.impacto.muito}}" class="md-primary" ng-click="showAlert($event, '{{classificacao.impacto.muito}}')"> M </md-radio-button>
									<md-radio-button value="{{classificacao.impacto.altamente}}" class="md-primary" ng-click="showAlert($event, '{{classificacao.impacto.altamente}}')">A</md-radio-button>
								</md-radio-group>
							</div>
							<br>
						</div>
					</md-card>
				</div>
				<br>
			</md-content>
		</div>
	</form>
</div>