<section data-ng-controller="ColaboradorsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Colaboradores</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="colaborador in colaboradores" data-ng-href="#!/colaboradors/{{colaborador._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="colaborador.created | date:'medium'"></span>
				by
				 <span>{{ colaborador.especialidade.name }}</span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="colaborador.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!colaboradors.$resolved || colaboradors.length">
    	No Colaboradors yet, why don't you <a href="/#!/colaboradors/create">create one</a>?
    </div>
</section>