<section data-ng-controller="ColaboradorController">
	<div class="page-header">
		<h1>Cadastrar novo colaborador</h1>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="name">Nome</label>
					<div class="controls">
						<input type="text" data-ng-model="name" id="name" class="form-control" placeholder="nome" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">Descrição</label>
					<div class="controls">
						<textarea name="description" data-ng-model="description" id="description" class="form-control" cols="30" rows="10" placeholder="Descrição"></textarea>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label" for="name">Especialidade</label>
					<div layout="row" layout-align="left left" style="padding:5px" ng-cloak="" class="selectdemoOptionsWithAsyncSearch">
						<div layout="row" layout-align="left left">
							<md-select placeholder="Selecione a especialidade" ng-model="especialidade" md-on-open="findEspecialidades()" style="min-width: 200px;">
							<md-option ng-value="especialidade" ng-repeat="especialidade in especialidades">{{especialidade.name}}</md-option>
						</md-select>
					</div>

					<!--<select data-ng-model="especialidade" class="form-control" id="especialidade" ng-options="item._id as item.name for item in especialidades" placeholder="Especialidade" required></select>-->
				</div>


			</div>

			<div class="form-group">
				<input type="submit" class="btn btn-default">
			</div>
			<div data-ng-show="error" class="text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
			<div data-ng-show="success" class="text-success">
				<strong data-ng-bind="success"></strong>
			</div>
		</fieldset>
	</form>
</div>
</section>