<section data-ng-controller="DivisaosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Divisão</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="divisao in divisaos" data-ng-href="#!/divisaos/{{divisao._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="divisao.created | date:'medium'"></span>
				by
				<span data-ng-bind="divisao.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="divisao.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!divisaos.$resolved || divisaos.length">
    	No Divisaos yet, why don't you <a href="/#!/divisaos/create">create one</a>?
    </div>
</section>