<section data-ng-controller="AtributosController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Atributo</h1>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="update()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input type="text" data-ng-model="atributo.name" id="name" class="form-control" placeholder="Name" required>
					</div>
					<!--{{atributo.classificacao}}
                    <br>
                    {{atributo.classificacao[0]["abrangencia"]}}
                    <br>
                    {{atributo.classificacao[0]["complexidade"]}}
                    <br>
                    {{atributo.classificacao[0]["impacto"]}}-->
				</div>

								<!--CheckBox-->
				<div class="form-group">
					<label class="control-label" for="name">Tipo</label>
					<div class="controls">
						{{atributo.checado}}
						<md-checkbox ng-model="atributo.checado" ng-checked="">Checado</md-checkbox>
					</div>
				</div>

				<div ng-repeat="classificacao in atributo.classificacao">

					<div class="form-group">
						<h2 class="md-title"><strong>Abrangência</strong></h2>
						<label class="control-label" for="moderado">Moderado</label>
						<textarea rows="3" cols="2" data-ng-model="classificacao.abrangencia.moderado" id="moderado" class="form-control" placeholder=""
							required></textarea>
						<label class="control-label" for="significativa">Significativa</label>
						<textarea rows="3" cols="2" data-ng-model="classificacao.abrangencia.significativa" id="significativo" class="form-control"
							placeholder="" required></textarea>
						<label class="control-label" for="muito">Muito</label>
						<textarea rows="3" cols="2" data-ng-model="classificacao.abrangencia.muito" id="muito" class="form-control" placeholder=""
							required></textarea>
					</div>
					<div class="form-group">
						<h2 class="md-title"><strong>Complexidade</strong></h2>
						<label class="control-label" for="moderada">Moderada</label>
						<textarea rows="3" cols="2" data-ng-model="classificacao.complexidade.moderada" id="moderada" class="form-control" placeholder=""
							required></textarea>
						<label class="control-label" for="alta">Alta</label>
						<textarea rows="3" cols="2" data-ng-model="classificacao.complexidade.alta" id="alta" class="form-control" placeholder=""
							required></textarea>
						<label class="control-label" for="altissima">Altissima</label>
						<textarea rows="3" cols="2" data-ng-model="classificacao.complexidade.altissima" id="altissima" class="form-control" placeholder=""
							required></textarea>
					</div>
					<div class="form-group">
						<h2 class="md-title"><strong>Impacto</strong></h2>
						<label class="control-label" for="relevante">Relevante</label>
						<textarea rows="3" cols="2" data-ng-model="classificacao.impacto.relevancia" id="relevante" class="form-control" placeholder=""
							required></textarea>
						<label class="control-label" for="muitos">Muito</label>
						<textarea rows="3" cols="2" data-ng-model="classificacao.impacto.muito" id="muitos" class="form-control" placeholder="" required></textarea>
						<label class="control-label" for="altamente">Altamente</label>
						<textarea rows="3" cols="2" data-ng-model="classificacao.impacto.altamente" id="altamente" class="form-control" placeholder=""
							required></textarea>
					</div>

				</div>

				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>